.byline {
	display:inline;
}

.byline .field-label {
	display:none;
}

.byline .field-item {
	display:inline;
	padding-right:5px;
}

.byline .field {
}

#node {padding:20px 0;}

.tabs {
	padding: 0;
}

.field-name-field-article-image {
	margin:20px 0 0 0;
}

.region-homepage-message {
	padding:0px;
	margin:0px;
}

.region-homepage-message .content {
	padding:0px;
	margin:0px;
}