// Global Foundation Settings
@import "settings";
@import "normalize.scss";
@import "drupal.scss";


// Import specific parts of Foundation by commenting the import "foundation"
// and uncommenting what you want below. You must uncomment the following if customizing

@import "foundation/components/global"; // *always required
@import "foundation/components/grid";
@import "foundation/components/buttons";
@import "foundation/components/forms"; // *requires components/buttons

/**
===============
Welcome to the Responsive OSUOSL Stylesheet!
Built by Mitchell Garcia (mitchillgarcia@gmail.com) with Compass, Sass, and Zurb Foundation.

Hope you enjoy your stay.

Table of Contents:
1. Header Styles
2. Navigation
3. Content
4. Sidebars
5. Donate
6. Hosted
7. Typography
8. Staff
9. Footer
10. Etc.
10.1 Calendar
10.2 Build The Future
10.3 Old Site
10.4 Front Page
10.5 Featured Articles

===============
**/
//Define variables
$primary: #333;
$secondary: #D85A1A;
$accent: #fff;
$navheight: 90px;


/***
1. Header Styles
****/

#header-container {
	@extend .row;
    height: $navheight;
    width: 80%;
}

#header {
	background:$primary; 
	padding:0px;
	margin:0px auto;
	width:100%;
	border-bottom:1px solid #373737;


    span{
        display: none;
        }

    #header img {
        border:0;
    }

    #osu-tag {
        @extend .large-2, .columns;
    }

    #osu-tag img {
        z-index:99;
    }

    #logo {
        @extend .large-4, .columns;
        text-align:center;
        width: 120px;
        margin: 0px;
        padding: 0px;
        line-height: $navheight;
        veritcal-align: middle;
    }

    #navigation {
        @extend .large-9, .columns;
        margin:0px;
        padding: 0px;
        height: $navheight;
        float: right;
        display: inline-block;
        width: auto;

        ul {
            padding: 0px;
            margin: 0px;
            list-style-type: none outside none;
        }

        /*ul.show {
            max-height: 2000px;
            -webkit-transition: 1s;
            -moz-transition: 1s;
            -o-transition: 1s;
            transition: 1s; 
        }*/

        ul li {
            display: inline-block;
            padding: 0px 2px;
            margin: 0px;
        }

        ul li a {
            position: relative;
            display: block;
            color: $accent;
            background: #000;
            border-radius: 5px 5px 0px 0px;
            text-decoration: none;
            padding: 0px;
            margin: 40px 0px 0px;
            width: 120px;
            text-align: center;
            line-height: $navheight - 40px;
            vertical-align: middle;
        }
 
        ul li ul {
            position: absolute;
            top: $navheight;
            display: none;
            list-style: none outside none;
            width: 100px;
        }

        ul li:hover ul {
            display: block;
            z-index: 200;
        }
        
        ul li ul li {
            font-size: 100%;
            background: #000;
            margin: 0px;
            padding: 0px;
        }

        ul li ul li a {
            display: block;
            margin: 0px;
            padding: 0px;
            border-top: 1px solid white;
            line-height: 35px;
            padding: 5px 0px;
        }
    }
}

#search-block-form .form-text{
	padding:5px;
	width:100%;
}

#searchbar .form-submit {
	display:none;
}

/***
2. Navigation
****/
.menu-button {
	@extend .button;
	position: relative;
	display: none;
	padding: 1em;
	cursor: pointer;
	margin:0px;
	text-align:left;
	background: #d85a1a;
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	font-weight: 600;
}

.menu-button:hover{
	background: #F87A30;
}	

.menu-button .touch-button {
    background: transparent;
    position: absolute;
    z-index: 999;
    top: 0;
    right: 0;
    width: 50px;
    height: 50px;
    display: none;
    text-align: center; 
}

.menu-button .touch-button .navicon {
    font-size: 14px;
    position: relative;
    top: 1em;
    color: #fff;
}

/***
3. Content
****/

#content-container {
	@extend .row;
	margin-top:40px;
	padding:20px 0px;
    width: 80%;
}

.page-content {
	@extend .large-12, .columns;
	z-index:99;
    
    .blog-post {
        @extend .large-16, .columns;
    }

    .blog-post img {
        display:block;
    }

    .sidebar {
        @extend .large-4, .columns;
        //background: #385e86;
    }

    .sidebar h3 {
        font-weight:normal;
        font-family: "Bitter", serif;
        font-weight:400;
        font-style:normal;
        font-size:16px;
        color:#373737;
        padding:0px;
        margin:0px;
    }

    .sidebar ul {
        margin:0px;
        padding:0;
    }

    .sidebar li {
        color:#999;
        font-size:12px;
        margin:6px 20px;
    }	
}

.leaf > a {
	margin:6px 0;
	padding:6px 0;
}

.more-link {
	padding:5px;
	border:1px solid #eaeaea;
	float:right;
}

.more-link:hover {
	padding:5px;
	border:1px solid #ddd;
	float:right;
}

img.float-right {
	float:right;
	margin:0 0 5px 10px !important;
}


#feat-image {
	margin:0 0 20px 0;
}

#feat-image img {
	width:100%;
	text-align:center;
}

#homepage-message h2 {
	margin:0px;
	padding:0px;
	font-size:26px;
}

#homepage-message h4.subtitle {
	font-size:18px;
	font-weight:400;
}

div.contentheader {
	width:100%;
	padding:0 0 0px 0;
	margin:-10px 0 0 0;
	font-family: "Bitter", serif;
	font-size:14px;
}

.contentheader h2 {
	text-decoration:none;
	font-family: "Bitter", serif;
	font-weight:700;
	font-style:normal;
	margin:0px;
	padding:0px;
	text-decoration:none;
	font-size:16px;
}

.contentheader a:link,
.contentheader a:visited,
.contentheader a:active {
	text-decoration:none;
	color:#666;
}

.contentheader a:hover {
	text-decoration:none;
	color:#d85a1a;
}

.content-main-home img {
	max-width:100%;
}

.content-main-home p {
	font-size:13px;
}

p.lead {
	color:#222;
	font-size:18px;
}

/****
3.1 Sidebar
****/

.sidebar{
	margin-top: 20px;
	//background: #373737;
}

.sidebar ul li.leaf{
	list-style-type: none !important;
	padding: 0px;
	margin:0px;
}

.sidebar ul li a{
	font-size: .94em;
	display:block;
	border-bottom: 1px solid #252525;
	background: #373737;
	padding: 10px 6px;
	color: #fff;
	text-decoration: none;
}

.sidebar ul li a:hover{
	background: #C34500;
}

.sidebar ul {
	//border: medium none;
	list-style: none outside none;
	padding: 0px;
	margin: 0px;
}

.sidebar h5{
	font-size: 1.3em;
	padding-bottom: 5px;
}

/***
4. Sidebars
****/

.right-block-container {
	@extend .large-3, .columns;
	margin-top: -20px;
	min-width: 160px;
    padding: 0px;
    float: right;
}

.sidebar-block{
	margin: 20px 0 0 0;
}

.eecs-block{
	background:#d85a1a;
}

.sidebar-block p {
	color:#fff;
	font-family: 'Open Sans', sans-serif;
	font-size:14px;
}

.sidebar-block h5 {
	color:#fff;
	padding:0px;
	margin:0px;
	font-family: "Bitter", sans-serif;
	font-weight:400;
	font-style:normal;
	font-size:2em;
	text-align: center;
}

.sidebar-block:hover{
	opacity: .6;
} 	

.sidebar-block a{
	display: block;
	color:#fff !important;
	text-decoration: none !important;
}

.contact-block{
	background: #ACAFA6;
}

.vertical-padding {
	padding:20px 0 0 0;
}

.donate-block,.button.secondary{
	background-color:#5D87A1;
}

.donate-block:hover, .button.secondary:hover {
	background-color:#7ba5bf;
}

.social-block {
	margin-top: 20px;
	text-align: center;
}

.social-block:hover{
	opacity: 1;
}

.social-block a {
	color:#fff !important;
	width: 30%;
	display: inline-block;
}

.social-block p {
	color:#fff;
	font-size:13px;
	line-height:150%;
}

.social-block img{
	background: #777;
	height: auto;
	display: inline-block;
	padding: 5px;
	margin: 10px 2px;
}

.social-block img:hover{
	opacity: .6;
}

//Social media icon colors
#twitter{
	background: #00B0ED;
}

#facebook{
	background: #3B5998;
}

#github{
	background: #000;
}

#youtube{
	background: #cd201f;
}

#google{
	background: #dd4b39;
}

.blog-post {
	padding:0px 0px 20px 0;
}

.blog-post img {
	max-width:100%;
}

.field-items img{
    display:block !important;
    margin: auto;
}

.content-padding {
	padding:0px 0 20px 0;
}

/****
5. Donate
****/

.campaignWidget {
	width:100%;
	padding:40px;
	margin:0px;
}

/****
6. Hosted Communities
****/
#communities-panel {
	position:fixed;
}

#communities-panel a:active {
	color:#000;
}


/****
7. Typography
****/
p,
ul,
li {
	font-family:'Open Sans', sans-serif;
	color:#222;
	line-height:1.6;
	font-size:16px;
	color:#111;
}

a:link, a:active, a:visited {
	color:#d85a1a;
	font-weight:normal;
}

a:hover {
	text-decoration:underline;
	color:#373737;
	font-weight:normal;
}

.byline {
	font-family: "Bitter", serif;
	font-weight:400;
	font-size:14px;
	color:#666;
	padding:3px 0;
	display:block;
}

h1.small {
	font-size:14px;
	font-weight:normal;
}

h1.small a:link,
h1.small a:active,
h1.small a:visited {
	text-decoration:underline;
}

h2.headline {
	padding:0px;
	margin:0px;
}

h2.headline a:link,
h2.headline a:active,
h2.headline a:visited {
	font-family: "Bitter", sans-serif;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
}

h2.headline a:hover {
	color:#000;
}

ul.inline li {
	float:right;
	padding:5px;
	border:1px solid #ddd;
}

ul.inline li:hover {
	border:1px solid #999;
}

h4.subtitle {
	color:#615042;
	margin:4px 0 10px 0;
	font-weight:normal;
}

.caption {
	color:#666;
	font-size:12px;
	font-style:italic;
}

/***
8. Staff
***/

.staff-profile {
	padding:0 0 10px 0;
	margin:20px 0 0 0;
	border-bottom: 1px dotted #ddd;
}

.view-staff {
	margin:-20px 0 0 0;
}

.staff-picture {
	width:120px;
	height:160px;
	float:left;
	margin: 0 15px 10px 0px;
}



/**
9. Footer
***/
#footer {
	width:100%;
	padding:32px 0;
	background:$primary; 
	clear:both;
	margin:0px auto;
}

#footer-container {
	@extend .row;
	color:#fff;
}

#footer-container p {
	font-family:"Open Sans", sans-serif;
	font-weight:400;
	color:#fff;
} 

#footer .content {
	padding:0px;
	margin:0px;
}

#footer-container a:link,
#footer-container a:active,
#footer-container a:visited {
	color:#fff;
	text-decoration: none;
}

#footer-container a:hover {
	color:#f37321;
}

#footer-container ul {
	margin:0px auto;
	padding:0px;
	list-style:none;
}

#footer-container p, #footer-container ul, #footer-container li {
	color:#fff;
	font-family: "Open Sans", sans-serif;
}

#footer-container li {
	margin:0px auto;
	padding:0px;
	list-style:none;
	font-family:"Open Sans", sans-serif;
}

#footer-container li.expanded ul.menu li {
	//margin: 0 0 0 15px;
	padding:0px;
	list-style: none;
}

#footer-container #column1, #footer-container #column3 {
	@extend .large-4, .columns;
	width: 20%;
}

#footer-container #navcontainer {
	@extend .large-8, .columns;
	width: 60%;
}

#footer-container #column2 {
	width: 100%;
}

#footer-container #column2 ul li{
	display: inline-block;
	vertical-align: top;
	padding: 5px;
	width: 24%;
}

#footer-container ul li a{
	font-size: 17px;
	font-weight: 600;
}

#footer-container ul li ul li {
	display: block !important;
	width: 100% !important;
}

#footer-container ul li ul li a{
	font-size: 16px;
	font-weight: normal;
}

.mollom-privacy {
	display:none;
}

#footer-container #column1 a{
	color: #f37321 !important;
}

/****
10. Etc
****/

.field-item.even {
	font-size:15px;
	line-height:130%;
	color:#222;
}

.clrfix {
	clear:both;
}

hr.decorative {   
	border: 0; 
	margin:10px 0;
	height: 0; 
	border-top: 1px solid rgba(0, 0, 0, 0.2); 
	border-bottom: 1px solid rgba(255, 255, 255, 0.2); 
}

.hr {
	width:100%;
	margin:10px 0;
	border-top:1px solid #ddd;
	height:0;
}

.hr-light {
	width:100%;
	margin:10px 0;
	border-top:1px solid #eaeaea;
	height:0;
}

#search-block-form {
	width:100%;
  margin-top: 5px;
  margin-bottom: 0;
}

#search-block-form input {
	padding:0 3px;
}

#search-block-form .search-query {
  margin-bottom: 0;
  padding: 4px 14px;
  font-family:"Bitter", serif;
  font-weight:400;
  font-size: 13px;
  font-weight: normal;
  line-height: 1;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
}

.form-submit {
	@extend .button, .success, .radius, .small;
	float:right;
}

/* * * *
10.1 Calendar
* * * */
.calendar {
	font-family:Georgia, Times New Roman, serif;
}

.calendar small {
	color:#666;
}

.calendar p {
	padding: 5px 0 0 0;
	margin:0px;
}

.calendar h4 {
	margin:5px 0 0 0;
	padding:0px;
}

/* * * *
10.2 Build The Future
* * * */
.third {
	width:30%;
	float:left;
	padding-right:20px;
}

/***
Hosted Communities
* Styles for Hosted Communities Page
**/
.community-container {
	padding:0 0 26px 0px;
}

.node-picture {
	float:right;
	margin:0 0 10px 10px;
}

/***
10.3 Old Site CSS
***/

span.contentheader {
	font-family:"Bitter", serif;
  	font-size:18px;
  	font-weight:700;
  	padding:5px 0 0 0;
  	color:#332E2C;
}

.sub-contentheader {
	font-family:"Bitter", serif;
  	font-size:16px;
  	font-weight:normal;
  	padding:5px 0 0 0;
  	color:#998d88;
}
  
.donation-benefits li {
	font-family: 'Georgia', Times New Roman, serif;
	font-size:14px;
	line-height:160%;
}

.float-left-donor {
	float:left;
	margin: 5px 10px !important;
}

div.campaignWidget label {
    display: block;
    float: left;
    margin: 5px 5px 0 0;
    padding: 0;
    text-align: right;
    width: 70px;
}

div.campaignWidget input.radio {
    margin: 0;
    padding: 0;
    width: 15px;
}

div.campaignWidget div.submit-img {
    clear: both;
    margin: 15px 0 0 18px;
    padding: 15px 0 0;
}

div.campaignWidget div.foot {
    margin: 5px 0 10px;
    padding: 10px 0;
}

div.badge-container {
    margin: 20px 10px 20px 100px;
}
div.badge-spacer {
    clear: both;
}
img.badge-image {
    float: left;
    margin: 10px 10px 10px 25px;
}

/***
10.4 Front Page
***/

#featured-button {
	left:75%;
	padding:10px 15px;
	position:absolute;
	top:65%;
}

#merger-announcement {
	padding:40px 0 120px 0;
	position:relative;
}

/***
10.5 Feature Articles
***/

ol.top10 {
	counter-reset: li;
	margin-left:0;
	padding-left:0;}

ol.top10 > li:before {
	content:counter(li,decimal);
	counter-increment: li;
	font-family: "Open Sans", Helvetica Neue, Sans-serif;
	size:16px;
	left:-1.7em;
	padding:0;
	position:absolute;
	top:3px;
	font-size:16px;
	font-weight:bold;
	color:#c34500;
}

ol.top10 > li {
	list-style: none;
	margin:0 0 6px 2em;
	padding:0px;
	position:relative;
}

@media only screen and (min-width: 768px) {
#searchbar {
	width: 100%;
}

.page-content .blog-post {
	padding-left:0px;
}

.page-content .sidebar {
	padding-right:0px;
}

}

@media only screen and (max-width: 768px) {
.right-block-container {
	display:none !important;
}

#feat-image{
	display: none;
}

.menu{
	padding-left: 0px;
}

#navigation li a{
	color: #fff;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	font-weight: 600;
	background: #d85a1a;
	text-decoration: none;
}

#navigation li a:hover{
	background: #F87A30;
}

#osu-tag {
	display:none !important;
}

#osu-tag img {
	display:none !important;
}


//Footer styles
#column1{
	display: none;
}

#navcontainer, #column3{
	width: 100% !important;
	display: block !important;
}

#navcontainer{
	padding: 0px !important;
}

#navcontainer ul li{
	display: block !important;
	width: 100% !important;
}

#navcontainer ul li a{
	padding-left: 30px;
}

#navcontainer ul li a:hover{
	color: #fff;
}

#navcontainer ul li:hover{
	background: #d85a1a;
}

#navcontainer ul li ul, #navcontainer ul li ul li a{
	display: none;
}

#column3{
	margin-top: 20px;
}

}


@media only screen and (max-width: 1120){
    .first{
        display: none;
        }
        }
