@import url("normalize.css");
@import url("drupal.css");
@charset "utf-8";

/**
===============
OSUOSL Stylesheet

Index:
General
1. Header Styles
2. Navigation

Homepage
3. Featured
4. Content
5. Sidebars
===============
**/

body {
	background:#fff;
	padding:0px;
	margin: 0px;
}

/* 1. Header Styles
****/

#header-container {
	width:1020px;
	height:85px;
	margin:0px auto;
	padding:0px 20px;
}

#header {
	background:#333 url('../images/texture.gif') repeat;
	padding:0px;
	margin:0px auto;
	width:100%;
	border-bottom:1px solid #373737;
	height:90px;
}

#header img {
	border:0;
}

#osu-tag {
	width:90px;
	float:left;
}

#osu-tag img {
	z-index:99;
	position:relative;
}

#osl-logo {
	width:15%;
	max-width:140px;
	float:left;
	padding: 25px 20px;
}

#navigation {
	width:560px;
	float:left;
	padding:35px 0 0 0;
}

#searchbar {
	width:165px;
	float:right;
	padding:25px 0;
}

#search-block-form .form-text{
	padding:5px 0;
	width:100%;
}

#searchbar .form-submit {
	display:none;
}

.more-link {
	padding:5px;
	border:1px solid #eaeaea;
	float:right;
}

.more-link:hover {
	padding:5px;
	border:1px solid #ddd;
	float:right;
}

img.float-right {
	float:right;
	margin:0 0 5px 10px !important;
}

/*
Navigation
****/

#navigation ul {
	display:inline;
	padding:0px;
	margin:0px;
}

#navigation ul li {
	display:inline;
	margin:0 8px 0 0;
	padding:0px;
}

#navigation ul li a:link, 
#navigation ul li a:active, 
#navigation ul li a:visited {
	font-family:"Open Sans", Helvetica, sans-serif;
	padding:0px;
	margin:0px;
	color:#fff;
	text-decoration:none;
	font-size:12px;	
}

#navigation ul li.current a:link, 
#navigation ul li.current a:active, 
#navigation ul li.current a:visited {
	font-weight:700;
}

#navigation ul li a:hover {
	text-decoration:underline;
}

li.active a {
	font-weight:bold;
}

/*
Content
****/

/*Homepage*/

#content-container {
	position:relative;
	margin:0px auto;
	width:1020px;
	margin-top:40px;
	padding:0px 20px;
}

#feat-image {
	margin:0 0 20px 0;
}

#feat-image img {
	width:100%;
	text-align:center;
}

#homepage-message h2 {
	margin:0px;
	padding:0px;
	font-size:26px;
}

#homepage-message h4.subtitle {
	font-size:18px;
	font-weight:400;
}

div.contentheader {
	width:100%;
	padding:0 0 0px 0;
	margin:-10px 0 0 0;
	font-family: "Open Sans", Helvetica, sans-serif;
	font-size:14px;
}

.contentheader h2 {
	text-decoration:none;
	font-family: "Open Sans", Helvetica, sans-serif;
	font-weight:700;
	font-style:normal;
	margin:0px;
	padding:0px;
	text-decoration:none;
	font-size:16px;
}

.contentheader a:link,
.contentheader a:visited,
.contentheader a:active {
	text-decoration:none;
	color:#666;
}

.contentheader a:hover {
	text-decoration:none;
	color:#d85a1a;
}

.content-main-home img {
	max-width:100%;
}

.content-main-home p {
	font-size:13px;
}

p.lead {
	color:#222;
	font-size:18px;
}

/*Sidebars
****/
.contact-block {
	padding:20px;
	background:#d85a1a;
	margin:20px 0 0 0;
}

.contact-block p {
	color:#fff;
	font-size:12px;
}

.contact-block h5 {
	color:#fff;
	padding:0px;
	margin:0px;
	font-family: "Open Sans", Helvetica, sans-serif;
	font-weight:400;
	font-style:normal;
	font-size:16px;
}

.contact-block a {
	color:#fff !important;
}

.vertical-padding {
	padding:20px 0 0 0;
}

.right-block-container {
	width:166px;
	padding:0px;
	margin:55px 0 0 0;
	float:left;
}

.donate-block {
	background:#666633;
	padding:10px 15px;
}

.donate-block:hover {
	background:#339966;
	padding:10px 15px;
}

.about-block {
	padding:20px 21px;
	background:#385E86;
	margin-top:20px;
}

.about-block h5 {
	color:#fff;
	padding:0px;
	margin:0px;
	font-family: "Open Sans", Helvetica, sans-serif;
	font-weight:400;
	font-style:normal;
	font-size:16px;
}

.about-block a {
	color:#fff !important;
}

.about-block p {
	color:#fff;
	font-size:13px;
	line-height:150%;
}

.blog-post {
	padding:0px 0px 20px 0;
}

.blog-post img {
	max-width:100%;
}

.blog-post .field-item img {
	margin:10px 0;
}

.content-padding {
	padding:0px 0 20px 0;
}

/****
Donate
****/
.campaignWidget {
	float:right;
	width:30%;
	border:1px solid #ddd;
	padding:25px;
	margin:0 0 15px 15px;
}

/****
Blog Post Styles
****/

.page-content {
	float:left;
	width:810px;
	margin-top:0px;
	padding:20px 40px 0 0;
	z-index:99;
}

.page-content .sidebar {
	float:right;
	padding:5px 0px 0px 20px;
	width:170px;
}

.page-content .sidebar h3 {
	font-weight:normal;
	font-family: "Open Sans", Helvetica, sans-serif;
	font-weight:400;
	font-style:normal;
	font-size:16px;
	color:#373737;
	padding:0px;
	margin:0px;
}

.page-content .sidebar ul {
	margin:0px;
	padding:5px 0 0 0;
}

.page-content .sidebar li {
	color:#999;
	font-size:12px;
	margin:3px 20px;
}

.page-content .blog-post {
	float:left;
	width:610px;
}

/****
Hosted Communities
****/
#communities-panel {
	position:fixed;
}

#communities-panel a:active {
	color:#000;
}


/****
Typography
****/
p,
ul,
li {
	font-family:'Georgia', Times New Roman;
	color:#000;
	line-height:160%;
	font-size:14px;
	color:#222;
}

a:link, a:active, a:visited {
	text-decoration:none;
	color:#d85a1a;
	font-weight:normal;
}

a:hover {
	text-decoration:underline;
	color:#373737;
	font-weight:normal;
}

a.headline {
	font-family: "Open Sans", Helvetica, sans-serif;
	font-weight:700;
	color:#000;
	font-size:18px;
	text-decoration:none;
	padding:0px;
}

a.headline:hover {
	color:#d85a1a;
}

.byline {
	font-family: "Open Sans", Helvetica, sans-serif;
	font-weight:400;
	font-size:14px;
	color:#666;
	padding:3px 0;
	display:block;
}

h1.small {
	font-size:14px;
	font-weight:normal;
}

h1.small a:link,
h1.small a:active,
h1.small a:visited {
	text-decoration:underline;
}

h2.headline {
	padding:0px;
	margin:0px;
}

h2.headline a:link,
h2.headline a:active,
h2.headline a:visited {
	font-family: "Open Sans", Helvetica, sans-serif;
	font-weight:700;
	font-style:normal;
}

h2.headline a:hover {
	color:#000;
}

ul.inline li {
	float:right;
	padding:5px;
	border:1px solid #ddd;
}

ul.inline li:hover {
	border:1px solid #999;
}

/***Staff
***/
.staff-profile {
	padding:0 0 10px 0;
	margin:20px 0 0 0;
	border-bottom: 1px dotted #ddd;
}

.view-staff {
	margin:-20px 0 0 0;
}

.staff-picture {
	width:120px;
	height:160px;
	float:left;
	margin: 0 15px 10px 0px;
}

h4.subtitle {
	color:#615042;
	margin:4px 0 10px 0;
	font-weight:normal;
}



/**Footer
***/
#footer {
	width:100%;
	padding:32px 0;
	background:#333 url('../images/texture.gif') repeat;
	clear:both;
	margin:0px auto;
}

#footer-container {
	width:1000px;
	margin:0px auto;
	color:#fff;
}

#footer-container p {
	font-family:"Open Sans", Helvetica, sans-serif;
	font-weight:400;
	color:#fff;
} 

#footer .content {
	padding:0px;
	margin:0px;
}

#footer-container a:link,
#footer-container a:active,
#footer-container a:visited {
	color:#ddd;
	font-size:12px;
}

#footer-container ul {
	margin:0px auto;
	padding:0px;
	list-style:none;
}

#footer-container p, #footer-container ul, #footer-container li {
	color:#fff;
}

#footer-container li {
	margin:0px auto;
	padding:0px;
	list-style:none;
	font-family:"Open Sans", Helvetica, sans-serif;
	font-weight:400;
}

#footer-container li.expanded ul.menu li {
	margin: 0 0 0 10px;
	padding:0px;
	list-style:none;
}

#footer-container #column1 {
	width:19%;
	float:left;
	margin:0 40px 0 0;
}

#footer-container #navcontainer {
	width:40%;
	padding:0 0 20px 0;
	float:left;
	margin:0px;
}

#footer-container #column2,
#footer-container #column3 {
	width:50%;
	padding:0;
	margin:0;
	float:left;
}

#footer-container #column4 {
	width:25%;
	padding: 0;
	text-align:left;
	float:right;
}

.mollom-privacy {
	display:none;
}

.form-submit,
a.button:link,
a.button:active,
a.button:visited {
	border-style: solid;
	border-width: 1px;
	font-weight: 300;
	line-height: 1;
	margin: 0 0 1.25em;
	position: relative;
	text-decoration: none;
	text-align: center;
	display: inline-block;
    padding-top:6px;
    padding-bottom:6px;
    padding-right:14px;
    padding-left:14px;
	font-size: 14;
	background-color: #5da423;
	border-color: #457a1a;
	color: white;
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
    -webkit-transition: background-color 300ms ease-out;
    -moz-transition: background-color 300ms ease-out;
    transition: background-color 300ms ease-out;
    float:right;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.form-submit:hover,
.form-submit:focus,
a.button:hover,
a.button:focus {
  background-color: #457a1a;
}

#footer-container .icons {
	float:right;
}

#footer-container .icons .twitter {
	background:#39A9e0;
}

#footer-container .icons .facebook {
	background:#3B5998;
}

#footer-container .icons .github {
	background:#4183C4;
}

#footer-container .icons .drupal {
	background:#0077C0;
}



p.footer-type {	
	font-size:12px;
	font-family:"Open Sans", Helvetica, sans-serif;
	font-weight:400;
}



/****
Random
****/

.field-item.even {
	font-size:15px;
	line-height:130%;
	color:#222;
}

.clrfix {
	clear:both;
}
hr.decorative {   
	border: 0; 
	margin:10px 0;
	height: 0; 
	border-top: 1px solid rgba(0, 0, 0, 0.2); 
	border-bottom: 1px solid rgba(255, 255, 255, 0.2); 
}

.hr {
	width:100%;
	margin:10px 0;
	border-top:1px solid #ddd;
	height:0;
}

.hr-light {
	width:100%;
	margin:10px 0;
	border-top:1px solid #eaeaea;
	height:0;
}

/* * * * 
 Blog Post Styles, Typography, etc.
* * * */
.caption {
	color:#666;
	font-size:12px;
	font-style:italic;
}

/* * * *
 Calendar
* * * */
.calendar {
	font-family:Georgia, Times New Roman, serif;
}

.calendar small {
	color:#666;
}

.calendar p {
	padding: 5px 0 0 0;
	margin:0px;
}

.calendar h4 {
	margin:5px 0 0 0;
	padding:0px;
}

/* * * *
Build The Future
* * * */
.third {
	width:30%;
	float:left;
	padding-right:20px;
}

label,
input,
button,
select,
textarea {
  font-size: 14px;
  font-weight: normal;
  line-height: 20px;
}
input,
button,
select,
textarea {
	font-family: "Open Sans", Helvetica, sans-serif;
}
label {
  display: block;
  margin-bottom: 5px;
}
select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  display: inline-block;
  height: 20px;
  padding: 4px 6px;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 20px;
  color: #555555;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  vertical-align: middle;
}
input,
textarea,
.uneditable-input {
  width: 95%;
}
textarea {
  height: auto;
}
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  background-color: #ffffff;
  border: 1px solid #cccccc;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border linear .2s, box-shadow linear .2s;
  -moz-transition: border linear .2s, box-shadow linear .2s;
  -o-transition: border linear .2s, box-shadow linear .2s;
  transition: border linear .2s, box-shadow linear .2s;
}
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  border-color: rgba(82, 168, 236, 0.8);
  outline: 0;
  outline: thin dotted \9;
  /* IE6-9 */

  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);
  -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);
}
input[type="radio"],
input[type="checkbox"] {
  margin: 4px 0 0;
  *margin-top: 0;
  /* IE7 */

  margin-top: 1px \9;
  /* IE8-9 */

  line-height: normal;
}
input[type="file"],
input[type="image"],
input[type="submit"],
input[type="reset"],
input[type="button"],
input[type="radio"],
input[type="checkbox"] {
  width: auto;
}
select,
input[type="file"] {
  height: 30px;
  /* In IE7, the height of the select element cannot be changed by height, only font-size */

  *margin-top: 4px;
  /* For IE7, add top margin to align select with labels */

  line-height: 30px;
}
select {
  width: 220px;
  border: 1px solid #cccccc;
  background-color: #ffffff;
}
select[multiple],
select[size] {
  height: auto;
}
select:focus,
input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.uneditable-input,
.uneditable-textarea {
  color: #999999;
  background-color: #fcfcfc;
  border-color: #cccccc;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.025);
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.025);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.025);
  cursor: not-allowed;
}
.uneditable-input {
  overflow: hidden;
  white-space: nowrap;
}
.uneditable-textarea {
  width: auto;
  height: auto;
}
input:-moz-placeholder,
textarea:-moz-placeholder {
  color: #999999;
}
input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #999999;
}
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #999999;
}

#search-block-form {
	width:100%;
  margin-top: 5px;
  margin-bottom: 0;
}

#search-block-form input {
	padding:0 3px;
}

#search-block-form .search-query {
  margin-bottom: 0;
  padding: 4px 14px;
  font-family:"Open Sans", Helvetica, sans-serif;
  font-weight:400;
  font-size: 13px;
  font-weight: normal;
  line-height: 1;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
}

/***
Hosted Communities
* Styles for Hosted Communities Page
**/
.community-container {
	padding:0 0 26px 0px;
}

.node-picture {
	float:right;
	margin:0 0 10px 10px;
}

/***
CSS For Content Taken From Old Site
***/

span.contentheader {
	font-family:"Open Sans", Helvetica, sans-serif;
  	font-size:18px;
  	font-weight:700;
  	padding:5px 0 0 0;
  	color:#332E2C;
}

.sub-contentheader {
	font-family:"Open Sans", Helvetica, sans-serif;
  	font-size:16px;
  	font-weight:normal;
  	padding:5px 0 0 0;
  	color:#998d88;
}
  
.donation-benefits li {
	font-family: 'Georgia', Times New Roman, serif;
	font-size:14px;
	line-height:160%;
}

.float-left-donor {
	float:left;
	margin: 5px 10px 10px 0;
}

div.campaignWidget label {
    display: block;
    float: left;
    margin: 5px 5px 0 0;
    padding: 0;
    text-align: right;
    width: 70px;
}

div.campaignWidget input.radio {
    margin: 0;
    padding: 0;
    width: 15px;
}

div.campaignWidget div.submit-img {
    clear: both;
    margin: 15px 0 0 18px;
    padding: 15px 0 0;
}

div.campaignWidget div.foot {
    margin: 5px 0 10px;
    padding: 10px 0;
}

div.badge-container {
    margin: 20px 10px 20px 100px;
}
div.badge-spacer {
    clear: both;
}
img.badge-image {
    float: left;
    margin: 10px 10px 10px 25px;
}

/* * * Special Case Styles For Front- Page Promotions * * * */
#featured-button {
	left:75%;
	padding:10px 15px;
	position:absolute;
	top:65%;
}

#merger-announcement {
	padding:40px 0 120px 0;
	position:relative;
}

ol.top10 {
	counter-reset: li;
	margin-left:0;
	padding-left:0;}

ol.top10 > li:before {
	content:counter(li,decimal);
	counter-increment: li;
	font-family: "Open Sans", Helvetica Neue, Sans-serif;
	size:16px;
	left:-1.7em;
	padding:0;
	position:absolute;
	top:3px;
	font-size:16px;
	font-weight:bold;
	color:#c34500;
}

ol.top10 > li {
	list-style: none;
	margin:0 0 6px 2em;
	padding:0px;
	position:relative;
}